# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# java
# --------------------------------------
*.class
*.jar
*.asc
*.war
*.zip
*.ear
hs_err_pid*

# --------------------------------------
# log
# --------------------------------------
*.log
*.out

# --------------------------------------
# idea
# --------------------------------------
.idea/
.run/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*

# --------------------------------------
# maven
# --------------------------------------
.mvn/wrapper/maven-wrapper.jar
target/

# --------------------------------------
# 部署目录
# --------------------------------------
dist/
