<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]%-5level %logger{72}[%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    logger 配置
    -->
    <logger name="org.springframework" additivity="true" level="info"/>
    <logger name="org.jboss.logging" additivity="true" level="warn"/>
    <logger name="io.netty" additivity="true" level="info"/>
    <logger name="com.netflix.discovery" additivity="true" level="info"/>
    <logger name="com.netflix.eureka" additivity="true" level="info"/>
    <logger name="org.apache.http" additivity="true" level="info"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>